.sidebar{
    display: flex;
    width: 200px;
    
    position: fixed;
    left: 0;
    top: 80px;
    bottom: -10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-element{
    width: 180px;
    margin-top: 30px;
    height: 25px;
    border:none;
    font-family: monospace,Arial, Helvetica, sans-serif;;
}